@charset "UTF-8";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체의 높이에 맞게 설정 */
}

.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}